.second-line
{
  height:68px;
  position:absolute;
  top:92px;
  background-color: rgb(258,220,38);
  display:flex;
  flex:1;
  width:100%;
  justify-content: center;
  align-items: center;
  font-size:20px;
  font-weight:600;
}
.second-line img
{
  margin-right:10px;
}
.second-line a
{
  text-decoration:none;
  margin-left:10px;
  color:rgb(0, 186, 242);
}
